* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #1f2937;
  height: 18vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  .bttnAdote {
    background-color: #f97415;
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
    height: 4.5vh;
    width: 4vw;
    border-radius: 8px;
    border-style: none;
    // 2ª opção para o tamanho do botão:
    //Utilizar o padding ex.: padding: 2rem
  }
}

.banner {
  border: solid;
}

#nomeDoPet {
  color: #f97415;
  font-weight: 700;
  font-size: 3rem;
}
